<!DOCTYPE HTML>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Update Course</h1>
    <form action="#" th:action="@{/group/update}" th:object="${group}" method="post">
        <div>
            <select th:field="${group.id}">
                 <option th:each="group : ${groups}"
                   th:value="${group.id}"
                   th:text="${group.name}">
                 </option>
            </select>
        </div>
        <p>New Name: <input type="text" th:field="*{name}"></p>
        <select th:field="*{course.id}">
                         <option th:each="course : ${courses}"
                           th:value="${course.id}"
                           th:text="${course.year}">
                         </option>
                    </select>
        <p><input type="submit" value="submit"></p>
    </form>
    <form action="#" th:action="@{/group/}" method="get">
            <p><input type="submit" value="Home"></p>
    </form>
</body>
</html>