<!DOCTYPE HTML>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add new Teacher</h1>
    <form action="#" th:action="@{/teacher/add}" th:object="${teacher}" method="post">
        <p>Name: <input type="text" th:field="*{name}"></p>
        <p>Surname: <input type="text" th:field="*{surname}"></p>
        <p>Age: <input type="text" th:field="*{age}"></p>
        <p>Phone Number: <input type="text" th:field="*{phoneNumber}"></p>
        <p><input type="submit" value="submit"></p>
    </form>
    <form action="#" th:action="@{/teacher/}" method="get">
            <p><input type="submit" value="Home"></p>
    </form>
</body>
</html>