<!DOCTYPE HTML>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Choose Entity to work with</h1>
    <form action="#" th:action="@{/course}" method="get">
        <p><input type="submit" value="Course"></p>
    </form>
    <form action="#" th:action="@{/mark}" method="get">
            <p><input type="submit" value="Mark"></p>
    </form>
    <form action="#" th:action="@{/subject}" method="get">
            <p><input type="submit" value="Subject"></p>
    </form>
    <form action="#" th:action="@{/group}" method="get">
            <p><input type="submit" value="Group"></p>
    </form>
     <form action="#" th:action="@{/term}" method="get">
                <p><input type="submit" value="Term"></p>
     </form>
     <form action="#" th:action="@{/teacher}" method="get">
                <p><input type="submit" value="Teacher"></p>
     </form>
     <form action="#" th:action="@{/student}" method="get">
                <p><input type="submit" value="Student"></p>
     </form>
     <form action="#" th:action="@{/lesson}" method="get">
                <p><input type="submit" value="Lesson"></p>
     </form>
     <form action="#" th:action="@{/markForLesson}" method="get">
                <p><input type="submit" value="Mark For Lesson"></p>
     </form>
</body>
</html>