<!DOCTYPE HTML>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>All Marks</h1>
    <tr th:each="markForLesson : ${markForLessons}">
            <p th:text="'Id: ' + ${markForLesson.id}"></p>
            <p th:text="'Mark: ' + ${markForLesson.mark.value}"></p>
            <p th:text="'Student: ' +  'Name: ' + ${markForLesson.student.name} + ' Surname: ' + ${markForLesson.student.surname} "></p>
            <p th:text="'Lesson: ' + 'Subject: ' + ${markForLesson.lesson.subject.name} + ' Teacher: ' + ${markForLesson.lesson.teacher.surname} + ' Date: ' + ${markForLesson.lesson.date}"></p>
        </br>
    </tr>
    <form action="#" th:action="@{/markForLesson}" method="get">
        <p><input type="submit" value="Home"></p>
    </form>
</body>
</html>