<!DOCTYPE HTML>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>All Lessons</h1>
    <tr th:each="lesson : ${lessons}">
            <p th:text="'Id: ' + ${lesson.id}"></p>
            <p th:text="'Date: ' +  ${#dates.format(lesson.date, 'yyyy-MM-dd')}"></p>
            <p th:text="'Subject: ' + ${lesson.subject.name}"></p>
            <p th:text="'Term: ' + ${lesson.term.name}"></p>
            <p th:text="'Teacher: ' + 'Name: ' + ${lesson.teacher.name} + ' Surname: ' + ${lesson.teacher.surname} + ' Age: ' + ${lesson.teacher.age} + ' Phone Number: ' + ${lesson.teacher.phoneNumber}"></p>
            <p th:text="'Group: ' + ${lesson.group.name}"></p>
        </br>
    </tr>
    <form action="#" th:action="@{/lesson/}" method="get">
        <p><input type="submit" value="Home"></p>
    </form>
</body>
</html>