<!DOCTYPE HTML>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Add new Lesson</h1>
    <form action="#" th:action="@{/lesson/find}" th:object="${lesson}"  method="post">
            <select th:field="*{subject}">
            <option th:value="0" th:text="'No Value'"></option>
                 <option th:each="subject : ${subjects}"
                   th:value="${subject.id}"
                   th:text="${subject.name}">
                 </option>
            </select>
            <select th:field="*{term}">
            <option th:value="0" th:text="'No Value'"></option>
                 <option th:each="term : ${terms}"
                   th:value="${term.id}"
                   th:text="${term.name}">
                 </option>
            </select>
            <select th:field="*{teacher}">
                <option th:value="${teacher}" th:text="'No Value'"></option>
                 <option th:each="teacher : ${teachers}"
                   th:value="${teacher.id}"
                   th:text="'Name: ' + ${teacher.name} + ' Surname: ' + ${teacher.surname} + ' Age: ' + ${teacher.age} + ' Phone Number: ' + ${teacher.phoneNumber}">
                 </option>
            </select>
            <select th:field="*{group}">
            <option th:value="0" th:text="'No Value'"></option>
                 <option th:each="group : ${groups}"
                   th:value="${group.id}"
                   th:text="${group.name}">
                 </option>
            </select>

            <p>Date: <input type="date" th:field="*{date}"></p>

        <tr th:each="lesson : ${lessons}">
            <p th:text="'Id: ' + ${lesson.id}"></p>
            <p th:text="'Date: ' +  ${#dates.format(lesson.date, 'yyyy-MM-dd')}"></p>
            <p th:text="'Subject: ' + ${lesson.subject.name}"></p>
            <p th:text="'Term: ' + ${lesson.term.name}"></p>
            <p th:text="'Teacher: ' + 'Name: ' + ${lesson.teacher.name} + ' Surname: ' + ${lesson.teacher.surname} + ' Age: ' + ${lesson.teacher.age} + ' Phone Number: ' + ${lesson.teacher.phoneNumber}"></p>
            <p th:text="'Group: ' + ${lesson.group.name}"></p>
        </br>
        </tr>
            <p><input type="submit" value="submit"></p>
        </form>

    <form action="#" th:action="@{/lesson/}" method="get">
            <p><input type="submit" value="Home"></p>
    </form>
</body>
</html>